h1 {
    text-align: center;
    font-size: 50px;
}

body {
    overflow: hidden;
}

.equipo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: --color;
    padding: 2rem;
    margin: -3rem -5rem 2rem -5rem;
}

.equipo-titulo {
    font-size: 100px;
    font-weight: 400;
}

.container {
    background-color: rgb(34, 34, 57);
    width: 80%;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    text-align: center;
}

.cancha {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 170px;
    grid-auto-columns: 150px;
    gap: 20px 10px;
    padding: 20px;
    background-image: url(https://images.unsplash.com/photo-1607414721186-5309963d7b52?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGZvb3RiYWxsJTIwZmllbGR8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    background-position: center;
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 25%;
    box-sizing: border-box;
}

.data {
    color: rgb(255, 255, 255);
    gap: 2rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.data_sub>ul {
    margin-top: 1.2rem;
    line-height: 40px;
}

.nacionalidad>a>img {
    margin-top: 2rem;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
}

.player img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.portero img {
    width: 50%;
    height: auto;
    text-align: center;
    object-fit: contain;
}


.player>p {
    margin-top: 0;
    text-align: center;
}

.player:hover p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(69, 236, 248);
}

/*cell option */
@media screen and (max-width: 1080px) {
    .container {
        flex-direction: column;
    }

    .cancha {
        width: 100%;
    }

    .data {
        width: 100%;
    }

}

footer {
    margin: 30px auto;
    text-align: center;
}

.portero {
    grid-column: 2/4;
    grid-row: 4;
    text-align: center;
}

.no_2 {
    grid-column: 4;
    grid-row: 3;
}

.no_3 {
    grid-column: 3;
    grid-row: 3;
}

.no_4 {
    grid-column: 2;
    grid-row: 3;
}

.no_5 {
    grid-column: 1;
    grid-row: 3;
}

.no_6 {
    grid-column: 4;
    grid-row: 2;
}

.no_7 {
    grid-column: 3;
    grid-row: 2;
    text-align: center;
}

.no_8 {
    grid-column: 1;
    grid-row: 2;
}

.no_9 {
    grid-column: 3;
    grid-row: 1;
}

.no_10 {
    grid-column: 2;
    grid-row: 2;
}

.no_11 {
    grid-column: 2;
    grid-row: 1;
}