<header>
    <nav>
        <div class="equipo">
            <a href="#" class="escudo">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Chelsea_FC.svg/1200px-Chelsea_FC.svg.png"
                    alt="escudo" width="200">
            </a>
            <h1 class="equipo-titulo">Chelsea</h1>
        </div>
        <div class="algo_mas"></div>
    </nav>
</header>
<div class="container">
    <div class="cancha">
        <div class="player no_11">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_10">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_9">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_8">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_7">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_6">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_5">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_4">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_3">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_2">
            <img src="https://cf.camisetasfutbol.com.cn/upload/ttmall/img/20210327/7318e7cd7992d04a4e4406ee4287bd30.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
        <div class="player no_1 portero">
            <img src="https://cf.goaljerseys.cn/upload/ttmall/img/20210521/301280e711e9dba38d4fbfd48ece57c9.png=z-0,0_f-webp"
                alt="imagen_jugador">
            <p>Ngolo Kante</p>
        </div>
    </div>
    <div class="data">
        <div class="stats data_sub">
            <h2>Stats</h2>
            <ul>
                <li>Goles: 18</li>
                <li>Asistencias: 10</li>
                <li>Partidos: 30</li>
                <li>Pases Clave: 20</li>
            </ul>
        </div>
        <div class="stats club">
            <h2>Club</h2>
            <a href="#" class="escudo">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Chelsea_FC.svg/1200px-Chelsea_FC.svg.png"
                    alt="escudo" width="200">
            </a>
        </div>
        <div class="stats nacionalidad">
            <h2>Nacionalidad</h2>
            <a href="#" class="escudo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/200px-Flag_of_France.svg.png"
                    alt="escudo" width="200">
            </a>
        </div>
    </div>
</div>
<footer>
    <p>Información sacada de la página FBref</p> <a href="https://fbref.com/es/">https://fbref.com/es/</a>
    <p>Oliver</p>
    <p>Quiroz</p>
    <p>Fonsi</p>
</footer>